Sphinx==3.3.1
black==21.9b0
bump2version==1.0.1
coverage==6.0.2
flake8==4.0.1
ipdb==0.13.9
isort==5.9.3
mypy==0.910
pytest==6.2.5
sphinx-theme==1.0
tox==3.24.4
tox-gh-actions==2.8.1
twine==3.2.0
watchdog==0.10.3
sphinxcontrib-napoleon==0.7
